.App {
  text-align: center;
  background-color: aqua;
}

.modalStyle {
  background-color: white;
  place-content: center;
  border: 1px solid black;
}

.autografie {
  --animate-delay: 0.5s;
}

.no-underline-icon {
  text-decoration: none !important;
  display: inline;
}